* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
.app {
  text-align: center;
}
button {
  padding: 2px 0 2px 0 !important;
}
button:hover {
  color: white;
  background-color: #0BC095;
  outline: none;
  border: none;
}
.success-message {
  color: white;
}
.about-H4 {
  letter-spacing: 4px;
  color: #0D2235;
  font-size: 20px;
}
.url {
  color: #0D2235;
}
.dropdown-container {
  width: 100%;
  height: 70px;
}
.dropdown-option {
  display: none;
}
@import url(https://fonts.googleapis.com/css?family=Lato:700,900);

@media screen and (min-width: 0px) and (max-width: 1140px) {
  nav a {
    display: none;
  }
  .landing-footer {
    background-color: #0BC095;
    height: 96px !important;
  }
  .subtitle {
    width: 90% !important;
    margin: auto;
  }
  .brewery-form, .beer-form {
    margin-bottom: 4px;
  }
  .local-brew-button {
    margin-top: 8px !important;
  }
  .beers-button {
    margin-top: 8px !important;
  }
  #brewery_label, #beer_label {
    margin-bottom: 8px !important;
  }
  .about-container {
    height: 100% !important;
    padding-bottom: 80px !important;
  }
  .about-content {
    height: 100% !important;
  }
  .boss-header {
    font-size: 48px !important;
    padding-top: 30px !important;
  }
  .logout-button, .delete-user-button {
    display: none !important;
  }
  .top-of-results-button {
    display: none !important;
  }
  .welcome-header {
    font-size: 40px !important;
  }
  .dropdown-container {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 24px;
    background: #0BC095;
    position: relative;
    z-index: 11;
  }
  .dropdown-label {
    cursor: pointer;
    position: relative;
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: center;
    letter-spacing: 8px;
  }
  .dropdown-label:hover {
    color: #0D2235;
  }
  .dropdown-label:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-top: 6px solid #555;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: all .1s linear;
  }
  .open .dropdown-label:after {
    transform: rotate(180deg);
  }
  .dropdown-active {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
  }
  .dropdown-select {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    z-index: 5;
    background: #0BC095;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .25);
    overflow-y: scroll;
    max-height: 0;
    height: auto;
    transition: max-height 300ms ease-in-out;
    list-style: none;
    padding: 0;
  }
  .dropdown-select.open {
    max-height: 225px;
    margin-top: 35px;
  }
  .dropdown-option {
    text-align: center;
    color: #0D2235;
    padding: 12px;
    margin-left: 15px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: block;
    letter-spacing: 4px;
  }
  .dropdown-option:hover {
    background: #0D2235;
  }
}
.app-header {
  background-color: #0BC095;
  height: 90px;
  color: white;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.notice {
  font-size: 12px;
  color: red;
  text-align: center;
}
.local-brew-button:hover {
  cursor: pointer;
  cursor: hand;
  color: white;
  background-color: #0BC095;
  outline: none;
  border: none;
}
.beers-button:hover {
  cursor: pointer;
  cursor: hand;
  color: white;
  background-color: #0BC095;
  outline: none;
  border: none;
}
.local-brew-button {
  padding: 2px;
  background: white;
  color: #0D2235;
  border: 2px solid #0D2235;
  font-size: 20px;
  height: 40px;
  width: 200px;
  margin-right: 10px;
  margin-left: 6px;
  margin-top: -4px;
  text-decoration: none;
  outline: none;
  border-radius: 100px;
}
.beers-button {
  padding: 2px;
  background: white;
  color: #0D2235;
  border: 2px solid #0D2235;
  font-size: 20px;
  height: 40px;
  width: 200px;
  margin-right: 10px;
  margin-left: 6px;
  margin-top: -4px;
  text-decoration: none;
  outline: none;
  border-radius: 100px;
}
.add-beer-button {
  width: 140px;
  height: 40px;
  border-radius: 100px;
  background-color: white;
  outline: none;
  border: solid #0BC095 2px;
  color: #0BC095;
  font-size: 16px;
}
.login-button, .register-button {
  margin-bottom: 20px;
  width: 80px;
  height: 40px;
  border-radius: 100px;
  background-color: white;
  outline: none;
  color: #0BC095;
  font-size: 12px;
  border: none;
}
.save-beer-button {
  width: 80px;
  height: 40px;
  border-radius: 100px;
  background-color: white;
  outline: none;
  border: solid #0BC095 2px;
  color: #0BC095;
  font-size: 16px;
}
.welcome-subtitle, .brewery-form-description {
  text-align: center;
}
.brewery-form-description {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 9.99px;
  width: 75%;
  color: #0BC095;
  font-size: 20px;
  border-radius: 100px;
  border-bottom-left-radius: 0px;
  box-shadow: 5px 5px 3px #DFDCE3;
}
.clear-results-button {
  width: 120px;
  height: 30px;
  border-radius: 100px;
  background-color: white;
  outline: none;
  border: solid #0BC095 2px;
  color: #0BC095;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50%;
}
.top-of-results-button {
  width: 60px;
  height: 30px;
  border-radius: 100px;
  background-color: white;
  outline: none;
  border: solid #0BC095 2px;
  color: #0BC095;
  font-size: 14px;
  float: right;
  margin-top: -70px;
}
.logout-button {
  margin-top: 25px;
  position: absolute;
  margin-left: 520px;
  width: 80px;
  height: 30px;
  border-radius: 100px;
  background-color: white;
  outline: none;
  border: solid #0BC095 2px;
  color: #0BC095;
  font-size: 14px;
}
.delete-user-button {
  margin-top: 25px;
  position: absolute;
  margin-left: 400px;
  width: 120px;
  height: 30px;
  border-radius: 100px;
  background-color: white;
  outline: none;
  border: solid #0BC095 2px;
  color: #0BC095;
  font-size: 14px;
}
.boss-list {
  /*border: 2px solid #0D2235;*/
  box-shadow: 5px 5px 3px #DFDCE3;
  background-color: white;
}
.brewery-form {
  box-shadow: 5px 5px 3px #DFDCE3;
  background-color: white;
  margin-top: 0px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 100px;
  border-bottom-left-radius: 0px;
}
.beer-form {
  box-shadow: 5px 5px 3px #DFDCE3;
  background-color: white;
  margin-top: 10px;
}
.welcome-header {
  margin-bottom: 0;
  text-align: center;
  font-size: 70px;
  font-weight: normal;
  color: #0D2235;
  letter-spacing: 4px;
}
.brewery-div {
  text-align: center;
}
.beer-results-list {
  text-align: center;
}
.each-beer-result {
  box-shadow: 5px 5px 3px #DFDCE3;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 100px;
  border-bottom-left-radius: 0px;
}
.each-brewery-result {
  box-shadow: 5px 5px 3px #DFDCE3;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 100px;
  border-bottom-left-radius: 0px;
}
.boss-list, .beer-form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 100px;
  border-bottom-left-radius: 0px;
}
button:hover {
  cursor: pointer;
  cursor: hand;
}
.flash-button{
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  //Firefox 1+
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  //Safari 3-4
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}
@keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}
//Firefox 1+
@-webkit-keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}
//Safari 3-4
@-moz-keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}
#brewery_label, #beer_label {
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  font-size: 20px;
  color: #0D2235;
}
nav a {
  margin: 7.77%;
  color: white;
  text-decoration: none;
  outline: none;
  letter-spacing: 4px;
  font-size: 20px;
}
nav a:hover {
  color: #0D2235;
}
.dashboard-container {
  height: 100%;
  position: static;
}
.form-group {
  position:relative;
  margin-bottom:45px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.brewery-results-header {
  text-align: center;
}
.login-form, .register-form {
  display: block;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}
.horizontal-line-subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 15%;
  border: 1px solid white;
  display: block;
  height: 1px;
  text-align: center;
  opacity: 0.5;
}
.floating-label-input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  color:white;
  border-bottom:1px solid white;
  background: transparent;
}
input {
  box-shadow: none;
}
ul li a {
  text-decoration: none;
  color: white;
}
ul li a:hover {
  color: #0BC095
}
.floating-label-input:focus {
  outline:none;
}
.floating-label {
  color:white;
  font-size:14px;
  font-weight:normal;
  border-color: transparent;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.floating-label-input:focus ~ .floating-label,
.floating-label-input:valid ~ .floating-label 		{
  top:-20px;
  font-size:14px;
  color:#0BC095;
  opacity: 0.5;
}
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:"";
  height:1px;
  width:0;
  bottom:1px;
  position:absolute;
  background:white;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}
.login-logo {
  font-size: 32px;
  margin-bottom: 40px;
  padding-top: 40px;
  color: white;
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}
.floating-label-input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
.logo-container {
  background-color: white;
  z-index: 9;
}
.landing-footer {
  background-color: #0BC095;
  height: 71px;
  color: #0D2235;
  font-size: 20px;
  padding: 0 0 10px 0;
  letter-spacing: 4px;
}
nav {
  text-align: center;
}
.register {
  text-decoration: none;
  color: white;
}
.empty-login-space {
  height: 80px;
  width: 100%;
  color: white;
}
.empty-register-space {
  height: 80px;
  width: 100%;
}
.profile-view {
  background: #176D81;
  height: 782px;
}
.login-view {
  height: 782px;
  width: 100%;
  background: #0D3446;
}
.register-view {
  height: 782px;
  width: 100%;
  background: #0D3446;
}
.login-container {
  text-align: center;
  display: block;
  height: 50%;
  width: 360px;
  z-index: 9;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
}
.register-container {
  text-align: center;
  display: block;
  height: 50%;
  width: 360px;
  z-index: 9;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
}
#register_landing {
  height: 782px;
  background: white;
}
.register-overlay {
  position: relative;
  width: 360px;
  height: 50%;
  margin: auto;
  border-radius: 10px;
  padding: 0px;
  box-sizing: border-box;
  display: block;
}
.register-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0D2235;
  background-repeat: no-repeat;
  width: 360px;
  height: 400px;
  background-position: center center;
  background-attachment: fixed;
  display: block;
  box-sizing: border-box;
  z-index: -1;
  border-radius: 10px;
}
.login-overlay {
  position: relative;
  width: 360px;
  height: 100%;
  margin: auto;
  border-radius: 10px;
  padding: 0px;
  box-sizing: border-box;
  display: block;
}
.login-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0D2235;
  background-repeat: no-repeat;
  width: 360px;
  height: 400px;
  background-position: center center;
  background-attachment: fixed;
  display: block;
  box-sizing: border-box;
  z-index: -1;
  border-radius: 10px;
}
.login-container {
  height: 782px;
}
.about-content {
  width: 75%;
  margin: auto;
  padding: 60px 20px 100px 20px;
  background-color: white;
  color: #0BC095;
  font-size: 20px;
}
.about-content p {
  width: 75%;
  margin: auto;
  text-align: center;
}
.about-container {
  height: 900px;
  background-color: #0D2235;
}
.about-header {
  font-size: 48px;
  margin-top: 0px;
  /*font-family: 'Jacques Francois Shadow', cursive;*/
  font-weight: normal;
  color: #0BC095;
}
.empty-about-space {
  height: 80px;
}
.beer-img {
  margin-left: 2.22%;
  margin-top: 14px;
  height: 50px;
  width: 40px;
  box-sizing: border-box;
  animation: App-logo-spin infinite 20s linear;
}
form {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px
}
.beer-title, .brewery-title {
  color: #0D2235;
  font-weight: normal;
  font-size: 24px;
}
.boss-list-header {
  color: #0D2235;
  font-weight: normal;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.add-fave-form {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.delete-to-try-form {
  margin-top: 2px !important;
  margin-bottom: 10px !important;
}
.boss-list-forms-div {
  display: inline;
}
.delete-fave-form {
  margin-top: 2px !important;
  margin-bottom: 10px !important;
}
.boss-list-items {
  color: #0D2235;
  font-size: 24px;
}
.boss-list-subheader {
  font-size: 20px;
  color: #0BC095;
  margin-bottom: 4px;
  letter-spacing: 4px;
}
.welcome-subtitle {
  width: 75%;
  color: #0D2235;
  box-shadow: 5px 5px 3px #DFDCE3;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 9.99px;
  border-radius: 100px;
  border-bottom-left-radius: 0px;
  font-weight: normal;
  font-size: 18px;
}
.boss-list-hr {
  width: 50%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0BC095;
  margin-top: 0px;
}
.nav-hr {
  width: 90%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin-top: 0px;
}
.add-fave-button {
  width: 50px;
  height: 18px;
  padding-top: 2px;
  border-radius: 100px;
  background-color: white;
  outline: none;
  border: solid #0BC095 1px;
  color: #0BC095;
  font-size: 10px;
}
.delete-button {
  width: 50px;
  padding-top: 2px;
  height: 18px;
  border-radius: 100px;
  background-color: white;
  outline: none;
  border: solid #A9A9A9 1px;
  color: #A9A9A9;
  font-size: 10px;
}
#beer_results, #brewery_results {
  /*font-family: 'Jacques Francois Shadow', cursive;*/
  font-size: 32px;
  font-weight: normal;
}
.hidden {
  display: none;
}
.boss-list {
  text-align: center;
  position: relative
}
.boss-logo {
  margin-top: 0px;
  height: 400px;
  width: 300px;
  opacity: 0.75;
}
.boss-header {
  margin-top: 96px;
  font-size: 92px;
  text-shadow: 2px 2px 2px #0D2235;
  color: white;
  /*font-family: 'Jacques Francois Shadow', cursive;*/
  margin-bottom: 20px;
  font-weight: normal;
  z-index: 9;
  position: relative !important;
  letter-spacing: 8px;
}
.subtitle {
  padding-top: 25px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
